
@{
    ViewBag.Title = "LoginView";
}

<h2>LoginView</h2>
<form action="login" method="post">
   <table>
       <tr>
           <td><input type="text" name="username"/></td>
       </tr>
       <tr>
           <td><input type="text" name="password"/> </td>
       </tr>
       <tr>
           <td><input type="submit" value="Login"/></td>
       </tr>
   </table>
</form>

